<div class="page-header">
  <h1>Fund Account</h1>
</div>
<div class="row-fluid">
<% if @bulk_credits.any? %>
    <div class="span4">
      <div class="head clearfix">
        <div class="isw-grid"></div>
        <h1>Select Credit to fund</h1>
      </div>
      <div class="block-fluid">
        <table cellpadding="0" cellspacing="0" width="100%" class="table">
          <thead>
          <tr>
            <th width="25%">Name</th>
            <th width="25%">Amount</th>
            <th width="25%">Buy</th>
          </tr>
          </thead>
          <tbody>
          <% @bulk_credits.each do |bulk_credit| %>
              <tr>
                <td><%= bulk_credit.name.humanize %></td>
                <td><%= number_to_currency bulk_credit.amount, unit: "₦" %></td>
                <td><form method='POST' action='https://voguepay.com/pay/'>

                  <input type='hidden' name='v_merchant_id' value='<%= MERCHANT_ID %>' />
                  <input type='hidden' name='transaction_id' value='<%= bulk_credit.id %>' />
                  <input type='hidden' name='memo' value='Bulk credit purchase for <%= bulk_credit.name %>' />

                  <input type='hidden' name='notify_url' value='<%= url_for notify_url %>' />
                  <input type='hidden' name='success_url' value='<%= url_for thank_you_url %>' />
                  <input type='hidden' name='fail_url' value='<%= url_for failure_url %>' />

                  <input type='hidden' name='total' value='<%= bulk_credit.amount %>' />

                  <input type='image' src='http://voguepay.com/images/buttons/buynow_blue.png' alt='Submit' />

                </form></td>
              </tr>
          <% end %>
          </tbody>
        </table>
      </div>
    </div>

    <div class="dr"><span></span></div>
<% end %>
</div>
