<% content_for :navigation do %>
    <%= currently_at '' %>
    </div>
<% end %>
<p id="notice"><%= notice %></p>

<div class="page-header">
  <h1>Your Airtime</h1>
</div>

<div class="row-fluid">

  <div class="head clearfix">
    <h1><i class="network_icon <%= @airtime.card_type %>_icon"></i> <%= @airtime.card_type %></h1>
  </div>
  <div class="block-fluid ucard ">

    <div class="info">
      <ul class="rows rounded_bottom letter_pressed">
        <li>
          <div class="title">Amount:</div>
          <div class="text"><%= @airtime.price %></div>
        </li>
        <li>
          <div class="title">Pin:</div>
          <div class="text"><%= @airtime.pin %></div>
        </li>
        <li>
          <div class="title">Name:</div>
          <div class="text"><%= @airtime.name %></div>
        </li>
    </div>
  </div>
</div>


<% if  @airtime.open? && current_user.admin? %>
    <%= link_to 'Back', airtimes_path,class:"btn btn-large" %>
    <%= link_to 'Edit', edit_airtime_path(@airtime),class:"btn btn-warning btn-large"%> |
    <%= link_to "Delete", @airtime, :method => :delete, data: {confirm: "Are you sure"},class:"btn cancel btn-large" %>
<% end %>
