<div class="row-fluid">
  <% if @users.any? %>
      <div class="span12">
        <div class="head clearfix">
          <div class="isw-grid"></div>
          <h1>Customers</h1>
        </div>
        <div class="transactions ">
          <div class="tool_bar">
            <%=  paginate("users","index",class:"pull-right page")  %>
            <%= form_tag user_search_path, method: :post, class: "form-inline pull-right"%>
              <div class="input-append">
                <%= text_field_tag "search_params", "" %><button class="btn" type="submit"><i class="icon-search"></i></button>
              </div>
            <% end %>
          </div>
          <table cellpadding="0" cellspacing="0" width="100%" class="table">
            <thead>
            <tr>
              <th>Phone Number</th>
              <th>Amount balance</th>
              <th>Email</th>
              <th>Last login</th>
              <th>Balance</th>
              <th></th>
            </tr>
            </thead>
            <tbody>
            <% @users.each do |user| %>
                <tr>
                  <td><%= user.phone_number %></td>
                  <td><%= number_to_currency user.wallet.account_balance, unit: "₦" %></td>
                  <td><%= user.email %></td>
                  <td><%= user.last_sign_in_at.to_date.to_s(:long) if user.last_sign_in_at.present? %></td>
                  <td><%= user.wallet.try(:account_balance) %></td>
                  <td>
                    <%= link_to "View Transactions", user_orders_path(user), class: "btn" %>
                    <%= link_to "Credit Wallet", credit_wallet_user_path(user), class: "btn" %>
                    <%= link_to "Send Mail", single_mail_user_messages_url(user), class: "btn" %>
                </tr>
            <% end %>
            </tbody>
          </table>
        </div>
      </div>
</div>