<div class="drop"></div>
<div class="container">
  <header id="head">

    <div class="row">
      <div class="span12" id="link">
        <a class="logo pull-left" href="<%= url_for root_url %>"><img src="/assets/poplodoi.png" alt="Poploader -  Recharge cards at your finger tips" title="Poploader -  Recharge cards at your finger tips"/></a>

      </div>
    </div>

  </header>
  <div id="form_wrap">
    <div class="login">
      <div class="header-a">
        <h1>Change your password</h1>
      </div>
      <%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => {:method => :put, :class => "form-horizontal"}) do |f| %>
          <%= devise_error_messages! %>
          <div class="control-group">
            <%= f.label :password, "New password" %>
            <div class="input-wrap">
              <%= f.password_field :password , placeholder: "Password" %>
            </div>
          </div>
          <div class="control-group">
            <%= f.label :password_confirmation, "Re-type Password" %>
            <div class="input-wrap">
              <%= f.password_field :password_confirmation , placeholder: "Password" %>
            </div>
          </div>
          <div class="row-fluid">
            <div class="row-fluid">
              <div class="form-actions">
                <%= f.submit "Change my password", class: "btn btn-primary" %></div>
                    </div>
                    </div>
                <% end %>
                <div class="footer-a letter_pressed ">
                  <div class="row-fluid">
                    <div class="btn-wrap change">
                      <a href="<%= url_for new_user_session_path %>" class="btn btn-warning" title="sign up">Sign In</a>
                      <a href="<%= url_for new_user_registration_path %>" class="btn btn-warning" title="sign up">Sign Up</a>
                    </div>
                  </div>
                </div>
                </div>
                </div>
                </div>
