<div class="row-fluid">
  <%= render :partial=> 'orders/order_status_message'%>
  <%= render :partial=> 'order_details'%>
  <div class="">
    <% if @order.success? %>
        <div class="show">
          <%= link_to account_user_wallet_path(current_user),class:"btn btn-primary" do %>
              <i class="icon-eye-open"></i> View <%= @order.item_type %>
          <% end %>
        </div>
    <% end %>
    <% if @order.pending?  && @order.can_pay(current_user) %>
        <div id="payment_selection" class="payment_selection">
          <h3 class="title">Pay With</h3>

          <div class="pay-buttons">
      <span  class="pay-form-wrap">
         <%= render partial: 'web_pay',locals: {interswitch:map_order_to_interswitch_params(@order),btn_class:"btn-large btn btn-warning"} %>
        </span>
            <%= link_to "Cancel",order_path(@order), method: 'delete',class:"btn cancel btn-large",data: {confirm: "Are you sure"} %>
                </div>
                </div>
      <% end %>
  </div>
</div>