
<% if current_user %>
    <% content_for :navigation do %>
        <%= currently_at 'Dashboard' %>
    <% end %>

    <div class="row-fluid">
      <%= render "airtimes/etisalat" %>
      <%= render "airtimes/glo" %>
      <%= render "airtimes/airtel" %>




    </div>

    <div class="row-fluid">

      <%= render "airtimes/mtn" %>

      <%= render "orders" %>



      <%= render "messages" %>



    </div>

    <%= render "bulk_credits"%>


    <div class="dr"><span></span></div>


<% else %>
    <%= render "login_form" %>
<% end %>