<div class="page-header">
  <h1>Messages <small>All Credit purchased and bulk credit alert here</small></h1>
</div>

<div class="row-fluid">
  <div class="span6">
    <div class="head clearfix">
      <div class="isw-list"></div>
      <h1>Messages</h1>
    </div>
    <div class="block messages">
    <% @messages.each do |message| %>
      <div class="item clearfix">
        <div class="info" style="padding: 0;">
          <a href="#" class="name"><%= message.credit.name.humanize %></a>
          <p>You have purchased this <b><%= message.credit.pin %></b></p>
          <span><%= message.created_at.day %> <%= MONTH[message.created_at.month-1]%>  <%= message.created_at.strftime("%Y") %> <%= message.created_at.strftime("%I:%M%p") %></span>
        </div>
      </div>
    <% end %>
    </div>
  </div>
</div>
