<% content_for :navigation do %>
    <%= currently_at 'Statistics' %>
    </div>
<% end %>

<div class="page-header">
  <h1>Statistics</h1>
</div>

<div class="row-fluid">
  <div class="tab-host clearfix">
    <ul class="nav nav-tabs">
      <li class="active" >
        <a href="<%= url_for statistics_url %>">
          Chart
          <div class="tape"></div>
        </a>
      </li>
      <li>
        <a href="<%= url_for user_statistics_url %>">
          Summary
          <div class="tape"></div>
        </a>
      </li>
      <li>
        <a href="<%= url_for airtime_statistics_url %>">
          Airtime
          <div class="tape"></div>
        </a>
      </li>
    </ul>
  </div>
  <div class="block messages">
    <div class="wBlock clearfix">
      <div class="wSpace">
        <%= content_tag :div, "", id: "transactions_chart", data: {transactions: song_downloads_chat(Order.completed_orders)} %>
      </div>
      <div class="dSpace">
        <h3>Order Summary</h3>
        <span class="number"><%= Order.all.size %></span>
        <span><%= Order.completed_orders.size %> <b>completed</b></span>
        <span><%= Order.pending_orders.size %> <b>Pending</b></span>
        <span><%= Order.closed_orders.size %> <b>Failed</b></span>
      </div>
      <div class="rSpace">
        <h3>Today</h3>
        <span class="number"><%= Order.today.size %></span>
        <span><%= Order.completed_orders.today.size %> <b>completed</b></span>
        <span><%= Order.pending_orders.today.size %> <b>Pending</b></span>
        <span><%= Order.closed_orders.today.size %> <b>Failed</b></span>
      </div>
    </div>

  </div>

</div>