<p id="notice"><%= notice %></p>

<p>
  <b>Amount:</b>
  <%= @credit.price %>
</p>

<p>
  <b>Pin:</b>
  <%= @credit.pin %>
</p>

<p>
  <b>Type:</b>
  <%= @credit.card_type %>
  <%= @credit.name %>
</p>


<%= link_to 'Edit', edit_credit_path(@credit) %> |
<%= link_to 'Back', credits_path %>
<%= link_to "Delete", @credit, :method => :delete, data: {confirm: "Are you sure"} %>
