<div class="drop"></div>
<div class="container">

  <div id="form_wrap">
    <div class="login">
      <div class="header-a">
        <h1>LOG-IN</h1>
      </div>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :html => {:class => "form-horizontal letter_pressed"}) do |f| %>

          <div class="control-group">
            <label for="inputPhoneNumber">Phone Number</label>
            <div class="input-wrap">
              <%= f.text_field :phone_number, id: "inputPhoneNumber", placeholder: "Phone Number" %>
            </div>
          </div>
          <div class="control-group">
            <label for="inputPassword">Password</label>
            <div class="input-wrap">
              <%= f.password_field :password, id: "inputPassword", placeholder: "Password" %>
            </div>
          </div>
          <% if devise_mapping.rememberable? -%>
              <div class="control-group">
                <label class="checkbox"><%= f.check_box :remember_me %> Remember Me</label>
              </div>
          <% end %>
          <div class="row-fluid">
            <div class="form-actions">
              <%= f.submit "Sign in", class: "btn btn-primary" %>
                  <a href="<%= url_for new_user_registration_path %>" class="btn btn-warning" title="sign up">Create an account</a>
                  </div>
                  </div>
              <% end %>
              <div class="footer-a">
                <p class="change-link letter_pressed">
                  <a href="<%= url_for  new_password_path(resource_name) %>" title="sign up">Forgot your password?</a>
                </p>
              </div>
              </div>
              </div>
</div>