<!DOCTYPE html>
<html>
<head>
  <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
</head>
<body>
<div class="container">
  <div class="brand">
    <div class="icon_wrap">
      <%= image_tag "/assets/icon.png" %>
    </div>
    <%= link_to root_url,class:"title" do %>
        <%= image_tag "/assets/title.png" %>
    <% end %>
  </div>
  </di
  <div class="container">
    <div class="content">
      <h3>Hi <%= @order.user.email %>,</h3>
      <p>
        Thanks you for your recent order at Poploda.  Below you will see the status of you order.
      </p>

      <h6>Transaction Id: <%= @order.transaction_id %></h6>

      <%= render :partial=> 'orders/order_status_message'%>

      <p>Thank you and have a great day!</p>
    </div>
  </div>
</body>
</html>