<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
 <title>Poploda -  Recharge cards at your finger tips</title>
  <style>
      body{
          -webkit-font-smoothing: antialiased; /* Fix for webkit rendering */
          -webkit-text-size-adjust: 100%;
          background: url(http://poploda.com/noise2.png) 50% 50% repeat;
          font-size: 12px;
      }
      .container .brand {
          margin: 20px 0;
          overflow: hidden;
      }
      .container .brand .icon_wrap {
          float: left;
      }
      img {
          max-width: 100%;
          width: auto;
          height: auto;
          vertical-align: middle;
          border: 0;
          -ms-interpolation-mode: bicubic;
      }
      h1, h2, h3 {
          line-height: 40px;
      }
      h3 {
          font-size: 24.5px;
      }
      h6 {
          font-size: 11.9px;
      }
      h1, h2, h3, h4, h5, h6 {
          margin: 10px 0;
          font-family: inherit;
          font-weight: bold;
          line-height: 20px;
          color: inherit;
          text-rendering: optimizelegibility;
      }
      .container {
          margin-right: auto;
          margin-left: auto;
      }
      .alert {
          padding: 8px 35px 8px 14px;
          margin-bottom: 20px;
          background-color: #fcf8e3;
          border: 1px solid #fbeed5;
          -webkit-border-radius: 4px;
          -moz-border-radius: 4px;
          border-radius: 4px;
          text-shadow: 0 1px 0 rgba(255,255,255,0.6);
      }
      .alert,
      .alert h4 {
          color: #c09853;
      }
      .alert h4 {
          margin: 0;
      }
      .alert .close {
          position: relative;
          top: -2px;
          right: -21px;
          line-height: 20px;
      }
      .alert-success {
          background-color: #dff0d8;
          border-color: #d6e9c6;
          color: #468847;
      }
      .alert-success h4 {
          color: #468847;
      }
      .alert-danger,
      .alert-error {
          background-color: #f2dede;
          border-color: #eed3d7;
          color: #b94a48;
      }
      .alert-danger h4,
      .alert-error h4 {
          color: #b94a48;
      }
      .alert-info {
          background-color: #d9edf7;
          border-color: #bce8f1;
          color: #3a87ad;
      }
      .alert-info h4 {
          color: #3a87ad;
      }
      .alert-block {
          padding-top: 14px;
          padding-bottom: 14px;
      }
      .alert-block > p,
      .alert-block > ul {
          margin-bottom: 0;
      }
      .alert-block p + p {
          margin-top: 5px;
      }
      .container .content {
          margin: 50px auto;
          background-color: #fcfcfc;
          padding: 20px;
          min-height: 400px;
          -moz-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
          -webkit-box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
          box-shadow: 0 0 200px rgba(255, 255, 255, 0.5), 0 1px 2px rgba(0, 0, 0, 0.3);
      }
      .letter_pressed {
          text-shadow: 0 1px 0 rgba(255,255,255,0.6);
      }
      .logo1{
          width:50px;
      }
  </style>
</head>
<body>
<div class="container">
  <div class="brand">
    <div class="icon_wrap">
      <%= image_tag "http://poploda.com/assets/icon.png",:width=>"50px",:height=>"50px",:class=>"logo1" %>
    </div>
    <%= link_to root_url,class:"title" do %>
        <%= image_tag "http://poploda.com/assets/title.png",:class=>"logo2" %>
    <% end %>
  </div>
  </div>
  <div class="container">
    <div class="content" style="text-shadow: 0 1px 0 rgba(255,255,255,0.6);">
      <h4>Hi <%= @order.user.email %></h4>
      <p>
        Thanks you for your recent order at Poploda.  Below you will see the status of you order.
      </p>

      <h6>Transaction Id: <%= link_to @order.transaction_id,order_url(@order) %></h6>

      <div class="order_status letter_pressed">
        <% status = order_status(@order,{:message=>"Transaction Successful!",:description=>"click <a href='#{order_url(@order)}'><strong>here</strong></a> to confirm the status of your order"}) %>
        <div class="alert alert-<%= status[:style] %>" style="text-shadow: 0 1px 0 rgba(255,255,255,0.6);">
          <strong><%= status[:message].html_safe%></strong> : <%= status[:description].html_safe %>
        </div>
      </div>
        <p>Thank you and have a great day!</p>
    </div>
  </div>
</body>
</html>