<!DOCTYPE html>
<html>
<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />

  <title>Poploda -  Recharge cards at your finger tips</title>
</head>
<body>
<div class="container">
  <div class="brand">
    <div class="icon_wrap">
      <%= image_tag "/assets/icon.png" %>
    </div>
    <%= link_to root_url,class:"title" do %>
        <%= image_tag "/assets/title.png" %>
    <% end %>
  </div>
  </di
  <div class="container">
    <div class="content">
      <h3>Hi <%= @order.user.email %></h3>
      <p>
        Thanks you for your recent order at Poploda.  Below you will see the status of you order.
      </p>

      <h6>Transaction Id: <%= @order.transaction_id %></h6>

      <%= render :partial=> 'orders/order_status_message'%>

      <p>Thank you and have a great day!</p>
    </div>
  </div>
</body>
</html>