 <div class="top">
   <div class="brand">
     <div class="icon_wrap">
          <%= image_tag "/assets/icon.png" %>
     </div>
     <%= link_to root_url,class:"title" do %>
         <%= image_tag "/assets/title.png" %>
     <% end %>
   </div>
   <div class="notice">
     <% if @error %>
         <div class="alert alert-error">
           <strong><%= @error %>!</strong>
         </div>
     <% end %>
   </div>

   <div class="block">
     <div class="header">Pay Now</div>
     <ul class="items">
       <li>
         <div class="key">Amount:</div>
         <div class="value">$6000</div>
       </li>
     </ul>
   </div>
      <% if @order %>
          <p class="pay_notice label-warning label"><i class="icon-warning-sign"></i> You are about to be redirected to
            <span class=""><strong>Interswitch  secure payment gateway</strong>.</span>
            However, if you are not redirected automatically, pls click the button below
				<%= render partial: 'web_pay',locals: {interswitch:map_order_to_interswitch_params(@order,mobile_notify_url),btn_class:"btn metro"} %>
 		 </p>
      <% end %>
    </div>
