<%= form_for(@news_letter) do |f| %>
    <div class="block-fluid">
      <% if @news_letter.errors.any? %>
          <div class="alert alert-error">
            <h3><%= pluralize(@news_letter.errors.count, "error") %> prohibited this from being saved:</h3>

            <ul>
              <% @news_letter.errors.full_messages.each do |msg| %>
                  <li><%= msg %></li>
              <% end %>
            </ul>
          </div>
      <% end %>

      <div class="row-form clearfix">
        <div class="span3"> Title </div>
        <div class="span9">
          <%= f.text_field :title %>
        </div>
      </div>

      <div class="row-form clearfix">
        <div class="span3">Body</div>
        <div class="span9">
           <%= f.text_area :body %>
        </div>
      </div>



      <div class="footer tar">
        <%= f.submit class: "btn-primary btn" %>
      </div>
    </div>
<% end %>