<% content_for :navigation do %>
    <%= currently_at 'News Letter' %>
<% end %>

<div class="page-header">
  <h1><%= @news_letter.title %></h1>
</div>

<div class="row-fluid">

  <div class="head clearfix">
    <h1><%= @news_letter.title %></h1>
  </div>
  <div class="block-fluid ucard ">

    <div class="info">
      <ul class="rows rounded_bottom letter_pressed">
        <li>
          <div class="inner">
            <div class="title">message:</div>
            <div class="text"><%= @news_letter.body %></div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


    <%= link_to 'Edit', edit_news_letter_path(@news_letter),class:"btn btn-warning btn-large"%>
    <%= link_to 'Delete', @news_letter,class:"btn btn-danger btn-large", data: {confirm: "Are you sure?"}%>
<%= link_to 'Send', send_now_news_letter_path(@news_letter),class:"btn  btn-large", method: :post %>
<%= link_to 'Back', news_letters_path,class:"btn btn-large" %>

