<div class="menu">

<div class="breadLine">
  <div class="arrow"></div>
  <div class="adminControl active">
    Hi, <%= current_user.email %>
  </div>
</div>

<div class="admin">
  <div class="image">
    <img src="/assets/img/users/aqvatarius.jpg" class="img-polaroid"/>
  </div>
  <ul class="control">
    <li><span class="icon-envelope"></span> <a href="<%= messages_url %>">Messages</a> <a href="<%= messages_url %>" class="caption red"><%= current_user.orders.completed_orders.today.size %></a></li>
    <li><span class="icon-cog"></span> <%= link_to "Settings", edit_user_path(current_user) %></li>
    <li><span class="icon-share-alt"></span> <%= link_to "Logout", destroy_user_session_path, method: :delete %></li>
  </ul>
  <div class="info">
    <span>Welcom back! Your last visit: <%= time_ago_in_words current_user.last_sign_in_at %> ago
    <b>Account balance is: <%= number_to_currency(current_user.wallet.account_balance, unit: "₦", precision: 0) %></b>
    </span>
  </div>
</div>

<ul class="navigation">
  <%= nav_tab("Dashboard",root_url, current:current_tab,icon:{:class=>"icon-dashboard"}) %>
  <%= nav_tab("My Wallet",account_user_wallet_path(current_user),current:current_tab,icon:{:class=>"icon-wallet"}) %>
  <%= nav_tab("My Profile",user_path(current_user),current:current_tab,icon:{:class=>"icon-profile"}) %>
  <%= nav_tab("Transactions",user_orders_path(current_user),current:current_tab,icon:{:class=>"icon-tasks"}) %>
  <%= nav_tab("Glo",glos_url,current:current_tab,icon:{:class=>"network_icon glo_icon"}) %>
  <%= nav_tab("Mtn",mtns_url,current:current_tab,icon:{:class=>"network_icon mtn_icon"}) %>
  <%= nav_tab("Airtel",airtels_url,current:current_tab,icon:{:class=>"network_icon airtel_icon"}) %>
  <%= nav_tab("Etisalat",etisalats_url,current:current_tab,icon:{:class=>"network_icon etisalat_icon"}) %>
  <%= nav_tab("Messages",messages_url,current:current_tab,icon:{:class=>"icon-envelope-alt"}) %>
  <% if current_user.admin? %>
      <%= nav_tab("Add New Airtime",new_airtime_url,current:current_tab,icon:{:class=>"icon-plus"}) %>
      <%= nav_tab("Manage Airtime",airtimes_url,current:current_tab,icon:{:class=>"icon-credit-card"}) %>
      <%= nav_tab("Users",users_url,current:current_tab,icon:{:class=>"icon-users"}) %>
      <%= nav_tab("Statistics",statistics_url,current:current_tab,icon:{:class=>"icon-bar-chart"}) %>
      <%= nav_tab("Import Airtime",new_credit_import_url,current:current_tab,icon:{:class=>"icon-upload-alt"}) %>
      <%= nav_tab("Platforms",platforms_url,current:current_tab,icon:{:class=>"icon-phone"}) %>
      <%= nav_tab("News Letter", news_letters_path,current:current_tab,icon:{:class=>"icon-info"}) %>
      <!--
      <%= nav_tab("Manage Bulk Credits",bulk_credits_url,current:current_tab,icon:{:class=>"icon-reorder"}) %>
      <%= nav_tab("Add bulk Credit",new_bulk_credit_url,current:current_tab,icon:{:class=>"icon-plus-sign"}) %>
       -->
  <% end %>

</ul>
</div>
