<div class="row-fluid">
  <div class="span12">

    <div class="widgetButtons">
      <div class="bb"><a href="<%= url_for mtns_path %>" class="tipb" title="BUY MTN CREDIT"><%= image_tag("MTN-10.png")%></a></div>
      <div class="bb">
        <a href="<%= url_for glos_path %>" class="tipb" title="BUY GLO CREDIT"><%= image_tag("glo10.png") %></a>
      </div>

      <div class="bb">
        <a href="<%= url_for airtels_path %>" class="tipb" title="BUY AIRTEL CREDIT"><%= image_tag("airtel.png") %></a>
      </div>

      <div class="bb"><a href="<%= url_for etisalats_path %>" class="tipb" title="BUY ETISALAT"><%= image_tag("eti.png")  %></a></div>
    </div>

  </div>
</div>

<div class="dr"><span></span></div>