<div class="top">
    <% if @notice %>
        <div class="alert alert-error %>">
          <strong><%= @notice %></strong>
        </div>
    <% end %>
    <% if @order %>
        <div class="order_status letter_pressed">
          <% status = order_status(@order,{:message=>"Your transaction was successful",:description=>%q(A notification has been sent. Kindly proceed to the <i class="icon-mobile-2"></i>  <strong>mobile App</strong> to continue)}) %>
          <div class="alert alert-<%= status[:style] %>">
            <button type="button" class="close" data-dismiss="alert">×</button>
            <strong><%= status[:message].html_safe%></strong> : <%= status[:description].html_safe %>
          </div>
        </div>
        <% if @order.pending? %>
            <div class="pay_notice label-warning label">
              <p>
                <i class="icon-warning-sign"></i>
                <span class=""><strong>Click the button to pay at Interswitch  secure payment gateway</strong>.</span>
                please make sure you see the padlock <i class="icon-lock"></i> sign at the green address bar
              </p>
              <% content_for :submit do %>
                  <%= render partial: 'interswitch_pay_button.html',locals: {btn_class:"btn btn-block  metro"} %>
              <% end %>
              <%= render partial: 'web_pay_form',locals: {interswitch:map_order_to_interswitch_params(@order,mobile_notify_url),btn_class:"btn btn-block  metro"} %>
            </div>
            <script type="text/javascript" charset="utf-8">
                //webPay();
                //<![CDATA[
                var form=document.getElementById('web_pay');
                form.submit();
                // ]]>
            </script>
        <% end %>
        <% if @order.success? %>
            <%= mobile_order_item(@order) %>
          <script type="text/javascript" charset="utf-8">
              //<![CDATA[
              if(Payment)
                  Payment.notify('<%= @notification.html_safe %>');
              // ]]>
          </script>
        <% end %>
        <%= render :partial=> 'order_details'%>
    <% end %>
  </div>