<!DOCTYPE html>
<html lang="en">
<head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
  <!--[if gt IE 8]>
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <![endif]-->

  <title>Poploda -  Recharge cards at your finger tips</title>
  <link rel="shortcut icon" href="/ico/favicon.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon" sizes="36x36" href="/ico/apple-touch-icon-36-precomposed.png">
  <%= stylesheet_link_tag "application" %>
  <!--[if lt IE 8]>

  <![endif]-->

  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body>
    <% if user_signed_in? %>
    <div class="wrapper">

      <%= render "header" %>

      <%=  yield(:navigation)%>

      <div class="content">
        <% if flash.any? %>
            <div class="notice">
                  <% flash.each do |name, msg| %>
                      <div class="alert shadowed alert-<%= name == :notice ? "info" : "error" %>">
                        <a class="close" data-dismiss="alert">×</a>
                        <%= msg %>
                      </div>
                  <% end %>
            </div>
        <% end %>

        <%= render "bread_line" %>

        <div class="workplace">

          <%= yield %>

        </div>

      </div>
    </div>
<% else %>
    <% if flash.any? %>
        <div class="content">
          <% if flash.any? %>
              <div class="notice">
                <% flash.each do |name, msg| %>
                    <div class="alert shadowed alert-<%= name == :notice ? "info" : "error" %>">
                      <a class="close" data-dismiss="alert">×</a>
                      <%= msg %>
                    </div>
                <% end %>
              </div>
          <% end %>
        </div>
    <% end %>
    <%= yield %>
<% end %>
</body>
</html>