<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>POPLODA</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <%= stylesheet_link_tag "application" %>


  <!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
  <!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
  <![endif]-->

  <!-- Le fav and touch icons -->
  <link rel="shortcut icon" href="/ico/favicon.png">
  <link rel="apple-touch-icon" sizes="144x144" href="/ico/apple-touch-icon-144-precomposed.png">
  <link rel="apple-touch-icon" sizes="114x114" href="/ico/apple-touch-icon-114-precomposed.png">
  <link rel="apple-touch-icon" sizes="72x72" href="/ico/apple-touch-icon-72-precomposed.png">
  <link rel="apple-touch-icon" sizes="36x36" href="/ico/apple-touch-icon-36-precomposed.png">

</head>

<body>

<div class="drop"></div>
<div class="container" id="content">
    <header id="head">

      <div class="row">
        <div class="span12" id="link">
          <a class="logo pull-left" href="<%= url_for root_url %>"><img src="/assets/poplodoi.png" alt="Poploader -  Recharge cards at your finger tips" title="Poploader -  Recharge cards at your finger tips"/></a>

          <div class="btn-wrap pull-right">
             <a href="<%= url_for new_user_registration_path %>" class="btn btn-primary "><i class="icon-black"></i>Sign Up</a>
            <a href="<%= url_for new_user_session_path %>" class="btn btn-warning"><i class="icon-signin icon-black"></i> Log in</a>
          </div>
        </div>
      </div>

    </header>

    <div class="row">

      <div class="span7" id="phones">
        <img src="assets/phones.png" alt="phone" title="all-platforms">

      </div>

      <div class="span5" id="text">
        <div class="aside">

          <div id="call" class="call">
            <hgroup>
              <h1 class="lead">BUY AIRTIME</h1>
              <h2 class="sub">*Anytime*Anywhere#</h2>
            </hgroup>
            <p class="sub">Available on all platforms</p>
          </div>
          <div class="downl row">

            <ul>
              <li>
                <a href="" class="btn btn-warning  btn-large">
                  <div class="ui-btn-inner">
                    <span class="icon-download-alt"></span>
                    <span class="ui-text">Android</span>
                    <span class="platform-icon android"></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="" class="btn btn-warning btn-large">
                  <div class="ui-btn-inner">
                    <span class="icon-download-alt"></span>
                    <span class="ui-text">Blackberry</span>
                    <span class="platform-icon blackberry"></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="" class="btn btn-warning  btn-large">
                  <div class="ui-btn-inner">
                    <span class="icon-download-alt"></span>
                    <span class="ui-text">IOS</span>
                    <span class="platform-icon ios"></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="" class="btn btn-warning  btn-large">
                  <div class="ui-btn-inner">
                    <span class="icon-download-alt"></span>
                    <span class="ui-text">WINDOWS</span>
                    <span class="platform-icon windows"></span>
                  </div>
                </a>
              </li>
              <li>
                <a href="" class="btn btn-warning  btn-large">
                  <div class="ui-btn-inner">
                    <span class="icon-download-alt"></span>
                    <span class="ui-text">OVI</span>
                    <span class="platform-icon ovi"></span>
                  </div>
                </a>
              </li>
                </ul>
          </div>
        </div>
        </div>

    </div>

    <div class=row>

      <div class="span12">

        <ul class="nav nav-pills pull-right">
          <li class="active"><a href="/">HOME</a></li>
          <li><a href="/about">ABOUT</a></li>
          <li><a href="/faq">FAQ</a></li>
          <li><a href="/contact">CONTACT US</a></li>
        </ul>


      </div>


    </div>

  </div>







<!-- Le javascript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<%= javascript_include_tag "home" %>





</body>
</html>